main, .cards {
    @extend %flex !optional;
}

main {
    justify-content: center;
}

.cards {
    justify-content:center;
    flex-wrap: wrap;
    gap: 30px;
    width: clamp(320px, 80%, 1440px);

    img {
        width: 140px;
        
        @include media( "screen", ">minWidth", "<bp2Width" ){
            width: 120px;
        }
    }

    h3 {
        text-align: center;
    }
}

.pokemon_card:hover {
    background: $_bg-card;
}